<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Добавляем Bootstrap JS для работы alert -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="navbar-container">
        <h1 class="m-2" style="padding-left: 30px;">Магазин воздуха</h1>

        <div class="nav-section">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('index') }}" class="btn btn-outline-primary">
                    <i class="fas fa-store"></i> Каталог
                </a>
                <div class="d-flex align-items-center">
                    <span class="balance mr-2" onclick="window.location.href='{{ url_for('payment') }}'">
                        {{ current_user.balance }} ₽
                    </span>
                    <span class="username {% if current_user.is_admin %}admin-badge{% endif %}"
                          onclick="window.location.href='{{ url_for('profile') }}'">
                        {{ current_user.name }}
                        {% if current_user.is_admin %}<span class="badge badge-warning ml-2">ADMIN</span>{% endif %}
                    </span>
                </div>
            {% else %}
                <a href="{{ url_for('index') }}" class="btn btn-outline-primary">
                    <i class="fas fa-store"></i> Каталог
                </a>
                <div class="auth-buttons">
                    <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
                    <a class="btn btn-success" href="/login">Войти</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>